/** Font **/
@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather-Black.ttf");
}
@font-face {
    font-family: "Merriweather-Light";
    src: url("../fonts/Merriweather-Light.ttf");
}
@font-face {
    font-family: 'Writing';
    src: url("../fonts/writing.ttf");
}
@font-face {
	font-family: 'localsans-win-light';
	src: local('Microsoft YaHei Light'), local('Microsoft JhengHei');
}
@font-face {
	font-family: 'localsans-win';
	src: local('Microsoft YaHei');
}
@font-face {
	font-family: 'localsans-win-bold';
	font-weight: bold;
	src: local('Microsoft YaHei Bold'), local('Microsoft YaHei');
}
@font-face {
	font-family: 'localsans-mac-light';
	src: local('PingFangSC-Light'), local('HiraginoSansGB-W3');
}
@font-face {
	font-family: 'localsans-mac';
	src: local('PingFangSC-Regular'), local('HiraginoSansGB-W3');
}
@font-face {
	font-family: 'localsans-mac-bold';
	src: local('PingFangSC-Semibold'), local('HiraginoSansGB-W6');
}

/*** Base ***/
html, body {
    height: 100%;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, textarea, 
form, label, legend, table, caption, menu, nav, section, summary, 
time, mark, audio, video, iframe, main, header, footer {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0 none;
}
body {
    font-family: 'localsans-mac', 'localsans-win', sans-serif;
    color: $color-f-secondary;
    -webkit-font-smoothing: antialiased;
    background-color: $color-bg;
}
ul {
    list-style-type: none;
}
a {
    color: $color-f-primary;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}
::selection {
    background-color: rgba(0, 147, 254, .2);
}
::-moz-selection {
    background-color: rgba(0, 147, 254, .2);
}
::-webkit-selection {
    background-color: rgba(0, 147, 254, .2);
}